.quizzizy-container
{
	padding-top: 70px;
}

.navbar-inverse
{
	background-color: #0072BF;
}

a.navbar-brand.white-link, .navbar-inverse .navbar-nav > li > a.white-link
{
	color: #FFF;
}

a.navbar-brand.white-link:hover, .navbar-inverse .navbar-nav > li > a.white-link:hover
{
	color: #002640;
}

.quizzizy-flash-container
{
	left: 75vw;
	top: 60px;
	position: absolute;
	/*width: auto;*/
	/*max-width: 25vw;*/
	/*hyphens: auto;*/
	list-style-type: none;
	z-index: 1031;
}

.quizzizy-flash-container-elem
{
	z-index: 1032;
}

.quizzizy-spacer
{
	min-height: 50px;
}
