{% extends "bootstrap/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
{% block navbar %}

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand white-link" href="/">Quizzizy</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li>
					<a class="white-link" href="#">About</a>
				</li>
				<li>
					<a class="white-link" href="#">Services</a>
				</li>
				<li>
					<a class="white-link" href="#">Contact</a>
				</li>
			</ul>
			<div class="navbar-right">
				<ul class="nav navbar-nav">
					<li>
						<form class="navbar-form" action="/search" method="POST">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="query">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</li>
					<li>
						<a class="white-link" href="javascript:void(0)" id="userButton" onclick="show_login_panel();">&#10133;</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>

<ul id="flash-list" class="quizzizy-flash-container"></ul>
{% endblock %}

{% block content %}
{% endblock %}
