{% extends "base.html" %}
{% block content %}
<div class="container quizzizy-container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Questionnaires
					</h3>
				</div>
				<div class="list-group list-group-inverse" id="side-list">
					<a href="#" class="list-group-item" onclick="display_quizz_creation()">
						<span class="glyphicon glyphicon-plus"></span> Ajouter un quizz
					</a>
				</div>
			</div>
		</div>
		<div class="col-md-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title quizzizy-main-panel-title"></h3>
				</div>
				<div class="panel-body quizzizy-main-panel-body"></div>
			</div>
		</div>
	</div>
</div>

<script src="{{ url_for('static', filename='scripts/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
{% endblock %}
